.itemPage {
    border: 1px solid lightgray;
    height: 850px;
    width: 1000px;
    position: relative;
    left: 250px;
    margin-top: 30px;
  }
.itemTable {
  margin-left: 70px;
  text-align: center;
  height: 500px;
}
.itemImg {
  width: 450px;
  height: 450px;
}
.itemName {
  text-align: left;
  padding-left: 20px;
}
.itemPrice {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
  padding-bottom: 50px;
}
.itemLocation, .itemStatus, .itemDelCost {
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  color: gray;
}
.itemTd {
  width: 350px;
  padding-bottom: 50px;
}
.itemTdimg {
  width: 350px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.itemTd2 {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 200px;
}
.itemCategory {
  margin-left: 20px;
  color: gray;
  font-size: 15px;
}
.info {
  position: relative;
  bottom: 50px;
  right: 380px;
  color: gray;
}
.itemLike {
  margin-right: 30px;
  width: 100px;
  height: 70px;
  background-color: lightcoral;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 50px;
  font-weight: bold;
}
.itemBuy {
  width: 200px;
  height: 70px;
  background-color:cornflowerblue ;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}
.itemLike:hover{
  background-color: rgb(240, 97, 97);
  transition: background-color 0.4s ease;
} 
.itemBuy:hover{
  background-color:rgb(68, 126, 234) ;
  transition: background-color 0.4s ease;
}
.itemLike:active, .itemBuy:active{
  position: relative;
  left: 1px;
  top: 1px;
}
